
@import paleta

/*---------------------------------------RESET*/
html, body
	height: 100%
body 
	background: $blanco

h1,h2,h3,h4,h5,h6,p,a
	margin: 0
	padding: 0
a, a:hover, a:visited, a:active
	text-decoration: none
input:focus, 
select:focus,
textarea:focus,
button:focus
	outline: none

/*----------------------------------GENERALES*/
.elem-hide
	display: none
.elem-show
	display: initial

=shadow($valShadow)
	-webkit-box-shadow: $valShadow
	-moz-box-shadow: $valShadow
	box-shadow: $valShadow
.shadow
	+shadow(3px 0px 16px 0px rgba(0,0,0,0.5))
		
/*------------------------------------------FUENTES */
@font-face 
	font-family: "AvenirNextLTPro_Demi"
	src: url("../fonts/AvenirNextLTPro_Demi.otf")
@font-face 
	font-family: "AvenirNextLTPro_Bold"
	src: url("../fonts/AvenirNextLTPro_Bold.otf")
.typ_upper
	text-transform: uppercase	
.typ_cap
	text-transform: capitalize		
.typ_italic
	font-style: italic	
.typ_c_white
	color: #fff	
.typ_c_blue
	color: #1a2a54

%message-shared
	border: 1px solid #ccc
	padding: 10px
	color: #333
.msg
	@extend %message-shared
.success
	@extend %message-shared
	border-color: green
.error
	@extend %message-shared
	border-color: red
.warning
	@extend %message-shared
	border-color: yellow
/*---------------------------------------------NAVBAR*/

nav
	background: $azul
	font-family: 'AvenirNextLTPro_Demi'
	li
		color: $blanco
	a
		color: $blanco
		font-size: 2.5vh
.main .row
	padding: 0px
	margin: 0px
nav.sidebar.navbar
	border-radius: 0px
.main
	padding: 10px 10px 0 10px
=navAnim($anim)
	-webkit-transition: $anim
	-moz-transition:  $anim
	-o-transition: $anim
	transition:  $anim
nav.sidebar, .main
	+navAnim(margin 200ms ease-out)

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, 
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus
	color: $azul
	background-color: transparent

nav:hover .forAnimate
	opacity: 1
section
	padding-left: 15px

@media (min-width: 768px)
	.main
		position: absolute
		width: calc(100% - 40px)
		margin-left: 40px
		float: right
	nav.sidebar:hover + .main
		margin-left: 200px
	nav.sidebar.navbar.sidebar>.container .navbar-brand, 
	.navbar>.container-fluid .navbar-brand
		margin-left: 0px
	nav.sidebar .navbar-brand, nav.sidebar .navbar-header
		text-align: center
		width: 100%
		margin: 0 0 2vh 0
		height: auto
	nav.sidebar a
		padding-right: 13px
	nav.sidebar .navbar-nav > li:first-child,
	nav.sidebar .navbar-nav > li
		border: none
	nav.sidebar .navbar-nav .open .dropdown-menu
		position: static
		float: none
		width: auto
		margin-top: 0
		background-color: transparent
		border: 0
		-webkit-box-shadow: none
		box-shadow: none
	nav.sidebar .navbar-collapse,
	nav.sidebar .container-fluid
		padding: 0 0px 0 0px
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a
		color: #777
	nav.sidebar
		width: 200px
		height: 100%
		margin-left: -160px
		float: left
		z-index: 8000
		margin-bottom: 0px
	nav.sidebar li
		width: 100%
	nav.sidebar:hover
		margin-left: 0px
	.forAnimate
		opacity: 0

@media (min-width: 1330px)
	.main
		width: calc(100% - 200px)
		margin-left: 200px
	nav.sidebar
		margin-left: 0px
		float: left
	nav.sidebar .forAnimate
		opacity: 1