/*@media (min-width: 768px) */
/*@media (min-width: 992px) */
/*@media (min-width: 1200px) */
/*---------------------------------------------------------RESET */
html, body {
  height: 100%; }

body {
  background: #fcfcfc; }

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0; }

a, a:hover, a:visited, a:active {
  text-decoration: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

/*------------------------------------------------------GENERALES */
.elem-hide {
  display: none; }

.elem-show {
  display: initial; }

.shadow {
  -webkit-box-shadow: 5px 8px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 8px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 8px 0px 0px rgba(0, 0, 0, 0.5); }

.msg {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }

.middle {
  display: table-cell;
  vertical-align: middle; }

.FullH {
  height: 100vh; }

/*-------------------------------------------------------FUENTES */
@font-face {
  font-family: "AvenirNextLTPro_Demi";
  src: url("../fonts/AvenirNextLTPro_Demi.otf"); }
@font-face {
  font-family: "AvenirNextLTPro_Bold";
  src: url("../fonts/AvenirNextLTPro_Bold.otf"); }
@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fonts/Quicksand-Bold.ttf"); }
@font-face {
  font-family: "Quicksand-Medium";
  src: url("../fonts/Quicksand-Medium.ttf"); }
@font-face {
  font-family: "Quicksand-Regular";
  src: url("../fonts/Quicksand-Regular.ttf"); }
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf"); }
.typ_upper {
  text-transform: uppercase; }

.typ_cap {
  text-transform: capitalize; }

.typ_italic {
  font-style: italic; }

.typ_c_white {
  color: #fff; }

.typ_c_blue {
  color: #1a2a54; }

.titles {
  font-family: "Quicksand-Bold";
  font-weight: bold; }

.parr {
  font-family: "Quicksand-Regular"; }

.links {
  font-family: "AvenirNextLTPro_Demi"; }

/*------------------------------------------------------NAVBAR */
/*------------------------------------------------------INICIO */
.bg_inicio {
  height: 100vh; }
  .bg_inicio .mylogo {
    display: flex;
    align-items: center; }
  .bg_inicio .img_logo {
    width: 30vw; }
    .bg_inicio .img_logo img {
      width: 28vw;
      margin: 0 18vw; }
  .bg_inicio .mydata {
    display: flex;
    align-items: center; }
  .bg_inicio .info {
    background: #535589;
    color: #fcfcfc;
    border-radius: 100px;
    padding: 3vh 3vw;
    width: 40vw;
    display: block;
    -webkit-box-shadow: 5px 8px 0px 0px #fcfcfc;
    -moz-box-shadow: 5px 8px 0px 0px #fcfcfc;
    box-shadow: 5px 8px 0px 0px #fcfcfc; }
    .bg_inicio .info .social {
      margin: 2vh 0;
      float: left;
      display: block; }
      .bg_inicio .info .social label {
        display: inline-block;
        font-family: "Quicksand-Medium";
        font-size: 2vh; }
      .bg_inicio .info .social a {
        display: inline-block;
        font-size: 2.8vh;
        color: #fcfcfc; }
      .bg_inicio .info .social a:visited, .bg_inicio .info .social a:hover, .bg_inicio .info .social a:focus {
        text-decoration: none; }
      .bg_inicio .info .social a.fb:hover {
        color: #4267b2; }
      .bg_inicio .info .social a.tw:hover {
        color: #2daae2; }
      .bg_inicio .info .social a.gh:hover {
        color: #222; }
      .bg_inicio .info .social a.tb:hover {
        color: #36465d; }
    .bg_inicio .info .more {
      background: #96b3d1;
      color: #333;
      display: block;
      margin: 2vh 0;
      float: right;
      padding: 1vh 1vw;
      font-size: 1.7vh;
      border-radius: 100px;
      cursor: pointer; }
    .bg_inicio .info .more:hover {
      background: #a9bcd0;
      color: #fcfcfc; }

/*------------------------------------------------------PERFIL- */
.bg_profile {
  background: #fcfcfc;
  height: 100vh; }

/*-------------------------------------------------LANDSCAPE------ */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .land_4, .land_5, .land_6, .land_7, .land_8 {
    float: left; }

  .land_4 {
    width: 33.33333333%; }

  .land_5 {
    width: 41.66666667%; }

  .land_6 {
    width: 50%; }

  .land_7 {
    width: 58.33333333%; }

  .land_8 {
    width: 66.66666667%; } }

/*# sourceMappingURL=main.css.map */
