
/* HSL*/
$blanco: hsla(0%, 0%, 99%, 1)
$gris: hsla(211%, 29%, 74%, 1)
$rosa: hsla(329%, 77%, 69%, 1)
$azul: hsla(187%, 41%, 49%, 1)
$morado: hsla(254%, 88%, 20%, 1)

/* RGB*/
$blanco: rgba(252, 252, 252, 1)
$gris: rgba(169, 188, 208, 1)
$rosa: rgba(237, 116, 178, 1)
$azul: rgba(74, 165, 177, 1)
$morado: rgba(27, 6, 94, 1)
