/*
	-- COLORES --
	ROSA: #ea0985;
	AZUL: #1b2954; #15276b; #1a2a54;
*/

@charset "utf-8";

/*----RESET ----*/
	h1,h2,h3,h4,h5,h6,
	p,a{
		margin: 0;
		padding: 0;
	}
	a,
	a:hover,
	a:visited,
	a:active{
		text-decoration: none;
		}
	body{
		background: #fff;
		}
	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
	    outline: none;
		}
	@media (min-width: 1920px) {
	  .container {
	    width: 1435px;
	  }
	}
	@media (max-width:  992px) {
	  .container {
	    padding-right: 0px;
	    padding-left: 0px;
	    margin-right: auto;
	    margin-left: auto;
	  }
	}

	/*@media (min-width: 768px) {
	  .container {
	    width: 750px;
	  }
	}
	@media (min-width: 992px) {
	  .container {
	    width: 970px;
	  }
	}
	@media (min-width: 1200px) {
	  .container {
	    width: 1170px;
	  }
	}*/
		
/*-------------------*/
	.elem-hide{
		display: none;
		}
	.elem-show{
		display: initial;
		}
	.shadow{		
		-webkit-box-shadow: 5px 5px 26px 0px rgba(199,199,199,1);
		-moz-box-shadow: 5px 5px 26px 0px rgba(199,199,199,1);
		box-shadow: 5px 5px 26px 0px rgba(199,199,199,1);
	}

/*-------------------------------------------------TIPOGRAFIA-----*/
	/*-------------FUENTES----*/

		@font-face 
		{
		   font-family: "UniNeueRegular";
		   src: url("../fonts/UniNeue/Fontfabric_UniNeueRegular.otf");
		}
		@font-face 
		{
		   font-family: "UniNeueLight";
		   src: url("../fonts/UniNeue/Fontfabric_UniNeueLight.otf");
		}
		@font-face 
		{
		   font-family: "UniNeueBold";
		   src: url("../fonts/UniNeue/Fontfabric_UniNeueBold.otf");
		}
		@font-face 
		{
		   font-family: "UniNeueBold_Italic";
		   src: url("../fonts/UniNeue/Fontfabric_UniNeueBold_Italic.otf");
		}
		
		@font-face 
		{
		   font-family: "UniNeueHeavy";
		   src: url("../fonts/UniNeue/Fontfabric_UniNeueHeavy.otf");
		}
		@font-face 
		{
		   font-family: "UniNeueHeavy_Italic";
		   src: url("../fonts/UniNeue/Fontfabric_UniNeueHeavy-Italic.otf");
		}
		@font-face 
		{
		   font-family: "KohinoorDevanagari_Regular";
		   src: url("../fonts/KOHINOOR/KohinoorDevanagari_Regular.otf");
		}
		@font-face 
		{
		   font-family: "KohinoorDevanagari_Light";
		   src: url("../fonts/KOHINOOR/KohinoorDevanagari_Light.otf");
		}
		@font-face 
		{
		   font-family: "KohinoorDevanagari_Medium";
		   src: url("../fonts/KOHINOOR/KohinoorDevanagari_Medium.otf");
		}
		@font-face 
		{
		   font-family: "KohinoorDevanagari_Semibold";
		   src: url("../fonts/KOHINOOR/KohinoorDevanagari_Semibold.otf");
		}
	/*generales*/
		.typ-upper{
			text-transform: uppercase;
			}
		.typ-cap{
			text-transform: capitalize;
			}		
		.typ-italic{
			font-style: italic;
			}
		.typ-color-white{
			color: #fff;
			}
		.typ-color-blue{
			color: #1a2a54;
		}
		.typ-title{
			 font-family: "UniNeueBold_Italic";
		}
		.typ-title-2{
			 font-family: "UniNeueHeavy_Italic";
		}
		.typ-parr{
			font-family: "KohinoorDevanagari_Regular";
		}
		
/*-------------------------------------------------NAVBAR---------*/
	nav{
		background: #fff;
		padding: 2vh 0;
		-webkit-box-shadow: 0px 4px 30px -3px rgba(82,82,82,0.6);
		-moz-box-shadow: 0px 4px 30px -3px rgba(82,82,82,0.6);
		box-shadow: 0px 4px 30px -3px rgba(82,82,82,0.6);
		}
	.nb-size,.navbar-header, .nb{
		height: 6vh;
		}
	
	.navbar{
		margin-bottom:0;
		}
	.navbar-brand{
		height: 6vh;
		padding: 0 15px;
		}
	.navbar-brand img{
		height: inherit;
		}

	.nb li>a{
		font-family: "UniNeueRegular";
		text-transform: uppercase;
		color: #1b2954;
		padding: 0 10px;
	    height: 6vh;
	    line-height: 6vh;
	    margin: 0 15px;		
		position: relative;
		background-color: transparent!important;		
		}
	.nb_selected{
		border-bottom: 3px solid #ea0985;
		background-color: transparent!important;
		}
	
	.nb li.active>a,
	.nb li.here>a:after,
	.nb li>a:hover:after{
		position: absolute;
		left: 0; right: 0;
		margin: auto;
		content:"";
		height: 5vh;
		width: 67%;
		border-bottom: 3px solid #ea0985;
		background-color: transparent!important;
		}
	.nb li>a:hover{
		color: #1b2954;
		background-color: transparent!important;
		}
	.nb li.active>a,
	.nb li.active>a:hover{
		color: #1b2954;
		border-bottom: 3px solid #ea0985;
		}
	
	.nb-cnt-data{
		display: inline-block;	
		margin-left: 5px;	 
		height: 4vh;
    	margin-top: 1vh;
		}
	.nb-cnt-data span{
		display: block;
		font-size: 0.8vh;
		margin-bottom:0.5vh;
		}
	.nb-data{
		display: block;
		}	
		.nb-social{
			display: inline-block;
			background: #6d6e71;
			border-radius: 100px;
			height: 20px;
		    width: 20px;
		    color: #fff;
		    text-align: center;
		    font-size: 1.3vh;
		    padding: 2px;
		}
		.nb-data input{
			font-size: 1vh;
			height: 2.5vh;
			padding: 0.5vh;
		}
	@media (max-width: 1200px) {
		.nb-cnt-data span{
			display: block;
			font-size: 0.8vh;
			margin-bottom:0.5vh;
			width: 70px;
			}
		.nb-data{
			display: block;
			width: 70px;
			}	
	}
	@media (max-width: 1024px) {
		.navbar{
			height: max-content;
			}
		.navbar-header {
		    margin-left: -10px!important;
			}
	}
	@media (max-width: 992px) {
		nav{
			padding: 2vh 0;		
			}
		.nb-size,.navbar-header, .nb{
			height: auto;
			}
		.container.nb-size {
		   padding-right: 15px;
		   padding-left: 15px;
		   margin-right: auto;
		   margin-left: auto;
			}
		nav i.icon,nav i.icons {
		    font-size: 3vh;
			}
		
		.nb-cnt-data{
			display: block;
			margin: 5vh auto;
			}
		.nb-cnt-data span{
			font-size: 1.4vh;
			width: 100%;
			}
		.nb-data{
			width:100%;
			}	
		.nb-data input{
			font-size: 2vh;
		    height: 3.5vh;
		    padding: 1.5vh;
		    width: 60%;
		    margin: 0 auto;
    		}

		/*Para cambiar punto en que se colapsa el NAV*/
		  .navbar-header {
		      float: none;
		  }
		  .navbar-left,.navbar-right {
		      float: none !important;
		  }
		  .navbar-toggle {
		  	margin-top: 0; 
			margin-right: 15px;
			margin-bottom: 0; 
		    display: block;
		  }
		  .navbar-collapse {
		      border-top: 1px solid transparent;
		      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		  }
		  .navbar-fixed-top {
		      top: 0;
		      border-width: 0 0 1px;
		  }
		  .navbar-collapse.collapse {
		      display: none!important;
		  }
		  .navbar-nav {
		      float: none!important;
		      margin-top: 7.5px;
		  }
		  .navbar-nav>li {
		      float: none;
		      text-align: center;
		  }
		  .navbar-nav>li>a {
		      padding-top: 10px;
		      padding-bottom: 10px;
		      margin: 0 25%;
		  }
		  .collapse.in{
		      display:block !important;
		  }
		  .navbar-fixed-bottom .navbar-collapse, 
		  .navbar-fixed-top .navbar-collapse {
			max-height: 100%; 
		  }
	}

/*-------------------------------------------------BACKGROUNDS----*/
	.bg_inicio{
		margin-top: 10vh;
		height:90vh;
		padding-right:0px; 
    	padding-left: 0px; 
		/*background: #ea0985;*/
		/*background: url('../img/BG_INICIO.png') no-repeat center center;*/
		/*background-size: cover;*/
		}
	.bg_somos{
		height: 100vh;
		background: url('../img/QuienesSomos.png') no-repeat center center;
		background-size: cover;
		}
		#Somos .container{
			padding-right: 0px;
   			padding-left: 0px;
			}
	.bg_ADN{
		padding-top: 10vh;
		height: 100vh;
		background: url('../img/BG_ADN.png') no-repeat bottom center;
		background-size: cover;
		}
	.bg_frac{
		height: 100vh;
		background: url('../img/BG_FRACC.png') no-repeat center center;
		background-size: cover;
		}
	.bg_frac_d_info{
		padding-top: 10vh;
		height: auto;
		}
	.bg_PorQ{
		padding-top: 10vh;
		height:inherit;
		}
		.espacioPorQ{
			height: 100vh;
		}
	.bg_ecot{
		padding-top: 10vh; 
		height: 100vh;
		background: url('../img/BG_AZUL.png') no-repeat center center;
		background-size: cover;
		position: relative;
		}
	.bg_PtsV{
		height: 100vh;
		}
	.bg_contacto{
		padding-top: 10vh; 
		height: 95vh;
		background: url('../img/BG_CONTACTO.png') no-repeat center center;
		background-size: cover;
		}
	.bg_foot{
		height: 5vh;
		background:#15276b; 
    	background: linear-gradient(to right, #15276b ,#ea0985);
		}
	
	@media (max-width: 992px) {
		.bg_inicio{
			margin-top: 10vh;
			height:auto;
			padding-right:0px; 
	    	padding-left: 0px; 
			}		
		.bg_somos{
			margin-top: 0vh;
			height: 40vh;
			}
		.bg_ADN{
			padding-top: 10vh;
			height: inherit;
			background: url('../img/BG_AZUL_M.png') no-repeat bottom center;			
			background-size: cover;
			}
		.bg_frac{
			height: 100vh;
			background: url('../img/BG_FRACC_M.png') no-repeat center center;
			background-size: cover;
			}

		.bg_mapas{
			padding-top: 10vh;
			height: 100vh;
			background: url('../img/BG_VERDE_M.png') no-repeat center center;
			background-size: cover;
		}
		.bg_PorQ{
			padding-top: 0vh;
			}
			.espacioPorQ{
				height: 70vh;
			}

		.bg_foot, .bg_PtsV, .bg_contacto,.bg_ecot{
			height:auto;
			}
	}
	@media (max-width:640px) {
		.bg_PorQ{
			
			}
			.espacioPorQ{
				height: auto;
			}
	}

/*-------------------------------------------------INICIO---------*/
	.item img{
		height: 90vh!important;
	}
	
	.img_slider{
		height:90vh;
		}
		.img_slider#imgSlider1{
			background: url('../img/imgSlider1.png') no-repeat center center;
			background-size: cover;
			}
		.img_slider#imgSlider2{
			background: url('../img/imgSlider2_2.png') no-repeat center center;
			background-size: cover;			
			}
	@media (max-width: 992px) {
		.item img{
			height: auto!important;
			margin: 0 auto;
		}
		.img_slider#imgSlider1{
			background: url('../img/imgSlider1_m.png') no-repeat center center;
			background-size: cover;
			}
		.img_slider#imgSlider2{
			background: url('../img/imgSlider2_m.png') no-repeat center center;
			background-size: cover;			
			}
	}

/*-------------------------------------------------SOMOS----------*/
	.txt-somos{
		margin-top: 30vh;
		padding: 0 4vw;
		margin-bottom: 10vh;
		}
	.txt-somos h1{
		color: #1a2a54;
		font-family: "UniNeueBold_Italic";
		font-size: 5vh;
		}
	.txt-somos p{
		margin-top: 2vh;
		font-family: "KohinoorDevanagari_Light";
		font-size: 2vh;
		}	
	.logo-somos{
		padding: 0 4vw;
		text-align: center;
		}
		.logo-somos img{
			height: 150px;
			margin: 0 auto;
		}	
	@media (max-width: 992px) {
		.txt-somos{
			margin: 5vh auto 2vh;
			padding: 0 4vw;
		}
		.logo-somos{
			margin-bottom: 2vh;
			}
			.logo-somos img{
				height: 120px;
			}	
	}

/*-------------------------------------------------ADN------------*/	
	.txt_adn{
		margin: 8% auto 5%;
		font-size: 6vh;
		}
	.pnk_sq{
		background: #ea0985;
		max-width: 30%;
		margin: 0 1.5%;
		width: 35vw;
		height: 35vh;
		line-height: 35vh;
		display: inline-block;
		-webkit-box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.52);
		-moz-box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.52);
		box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.52);				
		}
		.pnk_sq:hover{
			background: #f3f4f4;			
			}

	.txt_info_adn{
		color: #fff;
		text-align: center;
		text-transform: uppercase;	
		font-size: 4vh;
		font-family: "UniNeueBold";				
		display: inline-block;
	  	vertical-align: middle;
	  	line-height: 35vh;
	    height: inherit;
	    width: 100%;
		}	
		.txt_info_adn:hover{
			color: #6d6e71;	
			text-align: justify;
			text-transform: none; 
			line-height: normal; 
			height: auto;
			width: auto; 		
			font-size: 1.7vh;
			font-family: "KohinoorDevanagari_Medium";
		  	padding: 1vh 4vw;
			}
	.txt_info_adn_1:after{
		content: "Propósito";
		}
		.txt_info_adn_1:hover:after{
			content: "Es que tú puedas vivir la casa de tus sueños, es por esto que ponemos a tu disposición el equipamiento necesario a tu alcance y con esto puedas tener más tiempo para disfrutar con tu familia.";
			}
	.txt_info_adn_2:after{
		content: "Misión";
		}
		.txt_info_adn_2:hover:after{
			content: "Ser el líder regional en desarrollo de vivienda, ofreciendo a nuestros clientes lo mejor en: viviendas, servicio y trato; a través de la mejora continua de nuestros procesos contructivos, la integridad de nuestro personal y la capacitación constante de nuestro equipo.";
			}
	.txt_info_adn_3:after{
		content: "Visión";
		}
		.txt_info_adn_3:hover:after{
			content: "Contribuir a mejorar la calidad de vida y el patrimonio de las familias estando completamente comprometidos con la calidad, la seguridad y la responsable aplicación de las normas de construcción, promoviendo constantemente los valores y el desarrollo de todo nuestro personal.";
			}

	.pnk_sq_1{
		border-radius: 150px 0 0 0;
		}
	.pnk_sq_2{

		}
	.pnk_sq_3{
		border-radius: 0 0 150px 0;
		}
	@media (max-width: 992px) {
		.pnk_sq{
			display: block;
			max-width:75%;
			width: 75%;
			margin: 4% auto;
			height: inherit;
			}
		.txt_info_adn:hover{
			margin: 8vh 10vw;
			}
		}

/*-------------------------------------------------FRAC-----------*/
	
	/*IZIMODAL*/
		.iziModal img{
		  width:100%;
		  display:block;
		}
		/*.Modal_modelos img{
		  width:100%;
		  display:block;
		}*/

	.txt_title_fr{
		font-size: 5.5vh;
		margin: 4.5vh auto;
		display: block;
		}
	.txt_data_fr{
    	font-size: 2.5vh;
    	display: block;
		}
	.slc_fr{
		display: block;
		}
		.select_fr{
			margin: 3.5vh auto;
			width: 400px;
			background: white;   
			border: none;
	    	border-radius: 6px;
	    	-webkit-box-shadow: 5px 5px 26px 0px rgba(199,199,199,1);
			-moz-box-shadow: 5px 5px 26px 0px rgba(199,199,199,1);
			box-shadow: 5px 5px 26px 0px rgba(199,199,199,1);
			}
		.select_fr:after{		
			-webkit-box-shadow: inset 5px 5px 63px 0px rgba(133,133,133,1);
			-moz-box-shadow: inset 5px 5px 63px 0px rgba(133,133,133,1);
			box-shadow: inset 5px 5px 63px 0px rgba(133,133,133,1);
			}
		.select_fr,.select_fr option{
			font-size: 1.5vh;
			padding: 5px 10px;
			}
		.select_fr option{
			color: #5d5e5e;
			}
		.select_fr select:focus{				
			  	outline: 0;
			  	-webkit-box-shadow: none;
			    box-shadow: none;
			    border: none;
				}
		/*option:checked, option:hover {
		    color: white;
		    background: #ec32a1!important;
		}*/
	
	.cuadros_fr{
		}
		.cua_fr{
			cursor: pointer;
			width: 30vw;
			max-width: 30%;
			height: 48vh;
			margin: 0 1.5%;
			display: inline-block;
			border-radius: 15px;
			background: #fff;
			-webkit-box-shadow: 5px 5px 26px 0px rgba(199,199,199,1);
			-moz-box-shadow: 5px 5px 26px 0px rgba(199,199,199,1);
			box-shadow: 5px 5px 26px 0px rgba(199,199,199,1);
		}
		.pal,.bri,.est,.blanco{
			height: 60%;
			border-radius: 15px 15px 0 0;
			}
			.pal{
				background: url('../img/fr_palmiras.png') no-repeat center center;
				background-size: cover;
			}	
			.bri{
				background: url('../img/fr_brisas.png') no-repeat center center;
				background-size: cover;
			}
			.est{
				background: url('../img/fr_estrellas.png') no-repeat center center;
				background-size: cover;
			}	
			.blanco{
				background: #fff;
			}

		.img_fr{
			width: 75%;
			height: 30%;
			background: red;
			margin: 3% auto;
			}
			.pal_img {
				background: url('../img/LOGO_PALMIRAS.png') no-repeat center center;
				background-size: contain;
				}	
			.bri_img {
				background: url('../img/LOGO_BRISAS.png') no-repeat center center;
				background-size: contain;
				}
			.est_img {
				background: url('../img/proximamente.png') no-repeat center center;
				background-size: contain;
				}
	
	.fr_pb_info,.modelos_fr{
		height: 90vh;
		}

	.fr_cnt{
		padding-top: 7vh;
		}
	.fr_data img{
		margin: 0 auto 5vh auto;
		}
	.fr_textos{
		padding: 0 1vw;
		}
	.fr_title{
		font-family: "KohinoorDevanagari_Semibold";
		text-transform: uppercase;
		font-size: 3vh;
		margin: 2vh auto;
		}
	.fr_prr{
		font-family: "KohinoorDevanagari_Regular";
		font-size: 2vh;
		margin: 2vh auto;
		}

	.imgsFrdata{
		padding: 10px;
		margin-bottom: auto;
		}
		.fr_img1{
			width: 100%;
			height: 44vh;
			display: block;
			margin-bottom: 3vh;
			cursor: pointer;
			}
		.fr_img2,.fr_img3{
			display: inline-block;
			width: 45%;
			height: 24vh;
			cursor: pointer;
			}
		.fr_img2{
			margin-right:4%;
			}
		.fr_img3{
			margin-left: 4%;
			}

		.fr_img1.palimg{			
			background: url('../img/palmiras_lib_1.png') no-repeat center center;
			background-size: cover;
			}	
		.fr_img2.palimg{
			background: url('../img/palmiras_lib_2.png') no-repeat center center;
			background-size: cover;
			}
		.fr_img3.palimg{
			background: url('../img/palmiras_lib_3.png') no-repeat center center;
			background-size: cover;
			}

		.fr_img1.briimg{
			background: url('../img/brisas_1.png') no-repeat center center;
			background-size: cover;
			}
		.fr_img2.briimg{
			background: url('../img/brisas_2.png') no-repeat center center;
			background-size: cover;
			}
		.fr_img3.briimg{
			background: url('../img/brisas_lib_3.png') no-repeat center center;
			background-size: cover;
			}
	.btn_maps{
		margin-top: 2vh;
		float: right;
		}		
	
	.fr_mod_data{
		height: 35vh;
		}	
	.fr_t{font-size: 4vh;}
	.fr_p{
		font-size: 2.5vh;
		margin: 5vh auto;
		}
	.fr_logo{
		display: block;
		margin: 0 auto;
		width: auto;
		max-width: 25vw;
		}
	.fr_logo_m{
		display: none;
		}
	
	.fr_cuadros{
		/*background: rebeccapurple;*/
		display: block;
		}
	.fr_cuadros_m#pals,.fr_cuadros_m#bris{
		display: none;
		}
	.fr_mod_cua{
		cursor: pointer;
		display: inline-block;
	    width: 23.9%;
	    height: 35vh;
	    border-radius: 20px; 
	    -webkit-box-shadow: 0px 0px 61px -6px rgba(0,0,0,0.33);
		-moz-box-shadow: 0px 0px 61px -6px rgba(0,0,0,0.33);
		box-shadow: 0px 0px 61px -6px rgba(0,0,0,0.33);
			text-align: center;		
	  		vertical-align: middle;	  		
			line-height: 35vh; 
		}
	.Fr_texto{
			font-family: "UniNeueHeavy_Italic";
			color: #fff;
			font-size: 4vh;
			padding: 29vh 1vw 0vh 3vw;
			text-align: right;			
			display: inline-block;
	  		vertical-align: middle;	  		
			line-height: normal; 
			height: 100%;
			width: 100%;
			}
			.fr_texto_hover:hover,
			.in_texto_hover:hover,
			.ir_texto_hover:hover,
			.no_texto_hover:hover,
			.a1_texto_hover:hover,
			.a2_texto_hover:hover{
				font-family: "UniNeueRegular";
				color: #fff;
				font-size: 2.7vh;
				padding: 1vh 2vw;
				text-align: center;

				display: inline-block;
	  			vertical-align: middle;	  		
				line-height: normal; 
				height: auto;
				width: auto;
			}
			.fr_texto_hover:after{
				content: "Francesa"			
				}
			.fr_texto_hover:hover:after{
				content: "Un modelo donde los espacios y diseño se encuentran en armonía con lo que te rodea."			
				}
			.in_texto_hover:after{
				content: "Inglesa"			
				}
			.in_texto_hover:hover:after{
				content: "Lo moderno y funcional se presentan en este diseño, dónde se cuidaron los detalles para crear una armósfera de conviviencia para tu familia."			
				}
			.ir_texto_hover:after{
				content: "Irlandesa"			
				}
			.ir_texto_hover:hover:after{
				content: "Para quien busca su propio espacio tanto en interior como en exterior, aquí podrás vivir como siempre lo has soñado."			
				}
			.no_texto_hover:after{
				content: "Noruega"
			}
			.no_texto_hover:hover:after{
				content: "Diseños inteligentes dónde se aprovechan al máximo los espacios, 3 recámaras, búscala también con espacion excedente e individual."			
				}
			.a1_texto_hover:after{
				content: "Americana II"
			}
			.a1_texto_hover:hover:after{
				content: "Diseñada especialmente para quien busca administrar de manera eficiente los espacios sin sacrificar diseño ni funcionalidad."			
				}
			.a2_texto_hover:after{
				content: "Americana III"
			}
			.a2_texto_hover:hover:after{
				content: "Diseños único en la zona, 3 recámaras en una sola planta, con espacios que otorgan libertad e independencia de quienes la habitan."			
				}

	.Fr{
		background: url('../img/modelo_francesa.png') no-repeat center right;
		background-size: cover;
    	margin: 0 0.5% 0 0;
		}
		.Fr:hover{
			background: url('../img/modelo_francesa_blue.png') no-repeat center right;
			background-size: cover;
			}
	.In{
		background: url('../img/modelo_inglesa.png') no-repeat center right;
		background-size: cover;
    	margin: 0px 0.5%;
		}
		.In:hover{
			background: url('../img/modelo_inglesa_blue.png') no-repeat center right;
			background-size: cover;
			}
	.Ir{
		background: url('../img/modelo_irlandesa.png') no-repeat center right;
		background-size: cover;
    	margin: 0px 0.5%;
		}
		.Ir:hover{
			background: url('../img/modelo_irlandesa_blue.png') no-repeat center right;
			background-size: cover;
			}
	.No{
		background: url('../img/modelo_noruega.png') no-repeat center right;
		background-size: cover;
    	margin: 0 0 0 0.5%;
		}
		.No:hover{
			background: url('../img/modelo_noruega_blue.png') no-repeat center right;
			background-size: cover;
			}		
	.A1{
		background: url('../img/modelo_americana1.png') no-repeat center right;
		background-size: cover;
    	margin: 0 0 0 0.5%;
		}
		.A1:hover{
			background: url('../img/modelo_americana1_blue.png') no-repeat center right;
			background-size: cover;
			}
	.A2{
		background: url('../img/modelo_americana2.png') no-repeat center right;
		background-size: cover;
    	margin: 0 0 0 0.5%;
		}
		.A2:hover{
			background: url('../img/modelo_americana2_blue.png') no-repeat center right;
			background-size: cover;
			}				

	#mp_1,#mp_2{
		width: 100%;
		height:90vh;
		}
		/*.fr_mapas:not(.elem-hide){

		}*/
		.pal_mp_1{
			background: url('../img/palmiras_mapa1.png') no-repeat center center;
			background-size: cover;
		}
		.pal_mp_2{
			background: url('../img/palmiras_mapa2.png') no-repeat center center;
			background-size: cover;
		}	
		.bri_mp_1{
			background: url('../img/brisas_mapa1.png') no-repeat center center;
			background-size: cover;
		}
		.bri_mp_2{
			background: url('../img/brisas_mapa2.png') no-repeat center center;
			background-size: cover;
		}

	@media (max-width: 1024px) {
		.Fr_texto{
			font-size: 3.5vh;
			padding: 30vh 1vw 0vh 5vw;
			}
	}
	@media (max-width: 992px) {
		.txt_title_fr{
			font-size: 4vh;
			}
		.fr_pb_info{
			height: 90vh;
			}
		.modelos_fr{
			height: auto;
			}
		#Frac .container{			
			padding-right:15px; 
	    	padding-left: 15px;
			}
		.select_fr{
			margin: 3.5vh auto;
			width: 90%;
			}
			.select_fr,.select_fr option{
				font-size: 2.5vh;
			}
		.cua_fr{
			width: 80vw;
    		max-width: 100%;
			height: 30vh;
			margin: 5vh auto;
			display: block;
			border-radius: 30px;
			}
		
		.imgsFrdata{
			margin-bottom: 10vh;
			}

		.fr_mod_data {
		    height: 50vh;
			}
			.fr_logo{
				display: none;
				}
			.fr_logo_m {
				display: block;
				}
			.fr_logo,.fr_logo_m {
			    max-width: 100%;
				}
			.fr_logo img,.fr_logo_m img{
				height: 13vh;
				margin: 5vh auto;
				}
			.fr_t,.fr_p{
				text-align: center;
			}
		.col-sm-7{
			width: 100%;
			}
		.fr_mod_cua {
		    display: block;
		    width: 60%;
		    height: 30vh;
		    line-height: 30vh;
		    margin: 1vh auto;
			}
		.fr_cuadros{
			display: none;
			}
		
		.fr_cuadros_m#pals,.fr_cuadros_m#bris{
			display: block;
			}
		
			.fr_modelo{
				width: 100%;
			    height: 35vh;
   				margin: 5vh auto;
				}
			.fr_modelo h2{
				margin: 2vh auto;
				text-align: center;
				}
			.fr_modelo p{
				font-family: "UniNeueRegular";
				text-align: center;
				font-size: 2.5vh;
				}
			.line_rosa{
				display: block;
				}
			.line_rosa img{
				width: 40%;
				margin: 2vh auto;
				}

		
		/*MAPAS EN MOVIL*/
			#mp_1, #mp_2 {
			    width: 100%;
			    height: 100vh;
				}
			.map_logo{
				width: 80%;
				margin: 0 auto;
				background: #fff;
				border-radius: 10px 10px 45px 45px;
				-webkit-box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.5);
				-moz-box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.5);
				box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.5);
				text-align: center;
				}
			.map_logo img{
				width: 80%;
				margin: 0 auto;
				padding: 3vh 8vw;
				}
			.map_logo.map_logo_brisas img{
				width: 50%;
				margin: 0 auto;
				padding: 3vh 8vw;
				}
			.map_croquis{
				margin: 5vh 3vw 0;
				}	
			.map_croquis.map_croquis_brisas{
				margin: 5vh 20vw 0;
				}			
			.map_data{

				}
			.mapsIcons{
				margin:1vh auto;
				text-align: center;
				}
			.map_icon,.map_place{				
				display: inline-block;
	  			vertical-align: middle;	  		
				line-height: normal; 
				height: auto;
				width: auto;
				/*background: rebeccapurple;*/
				}
			.map_icon{
				width: 25%;
				text-align: center;
				}
			.map_place{
				width: 50%;
				text-align: left;
				}
			.map_icon img{
				height: 8vh;
				margin: 0 auto;
				}
			.ultimoGraf_map{
				width: 50%;
				margin: 0 auto;
				}
			.map_rutas{
				background: #1c2758;
				font-family: "UniNeueBold";
				text-transform: uppercase;
				color: #fff;
				-webkit-box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.5);
				-moz-box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.5);
				box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.5);
				text-align: left;
				padding: 2vh;
				width: 70%;
				margin: 2vh auto 2vh 0;
				}
			.map_rutas.map_rutas_b{
				background: transparent;
				-webkit-box-shadow:none;
				-moz-box-shadow: none;
				box-shadow: none;
				padding: 0;
				width: 70%;
				margin: 2vh auto 2vh -2vw;

				}

	}
	@media (max-width: 640px){
		.fr_pb_info,.modelos_fr{
			height: auto;
			}
		.fr_mod_data {
		    height: auto;
			}
		.fr_modelo{
				width: 100%;
			    height: 35vh;
   				margin: 5vh auto;
			}
			.fr_modelo h2{
				font-size: 3vh;
				margin: 1.5vh auto;
				}
			.fr_modelo p{
				font-size: 2.5vh;
				}
	}

/*-------------------------------------------------PORQUE---------*/
	.imgsConsul img, 
	.imgsParques img{
		margin: 4vh auto;
		height: 40vh;
		}
	
	.cnt_consultorio,.cnt_parques{
		width: 77%;
		margin: 0 auto;
		}
	.cnt_consultorio h1,.cnt_parques h1{
		margin-top: 40%;
		font-size: 4.5vh;		
		}
	.cnt_consultorio p,.cnt_parques p,.cnt_escuela p{
		margin-top: 5%;
		font-size: 1.8vh;
		}
	
	.cnt_consultorio img{
		width: 45%;
		margin:20% auto 0;
		}
	.cnt_parques img{
		width: 70%;
    	margin: 40% auto 0;
		}

	.imgEsc_1{
		height: 45vh;
		width: 100%;
		background: url('../img/escuelas1.png') no-repeat bottom center;
		background-size: cover; 
		}
	.Escdata{
		margin-top: 5%;
		}
	.cnt_escuela{
		width: 85%;
		margin: 0 auto;
		}
	.EscTitulo{
		position: relative;
		height: 17vh;
		}
		.EscTitulo h1{
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: 4.5vh;
		}
	.EscGraf{
		height: 17vh;
		background: url('../img/escuelasG.png') no-repeat bottom center;
		background-size: contain;
		margin-bottom: 4%;
		}


	@media (max-width: 992px) {
		.imgsConsul{
			margin-top: 0%;
			}
		.imgsConsul img, .imgsParques img{
			display: inline-block;
			/*margin: 0 1vw;*/
			width: 35vw;
			height: auto;
			}
		.cnt_consultorio h1, .cnt_parques h1{
    		margin-top: 20%;
			}
		.cnt_consultorio img{
			width: 45%;
			margin:20% auto 5%;
			}
		.cnt_parques img {
		    width: 70%;
		    margin: 25% auto 15%;
			}
		
		.imgEsc_1{
			height: 25vh;
			}
		.EscTitulo{
			height:5vh; 
			}
		.EscGraf{
			margin-top: 5%;
			height:15vh; 
			}		
		#secEsc3 img{
			width: 75%;
			margin: 10% auto 0;
			}	
		}

	@media(max-width: 640px){
		.imgsConsul img, .imgsParques img {
		    width: 44vw;
		    height: auto;
		}
	}	

/*-------------------------------------------------ECOTEC---------*/
	.txt_ecot{
		position: absolute;
		left: 36vw;
		right: 36vw;
		font-size: 1.5vh;
		width: 28vw;
		}
	
	.ecotG{
		margin-top: 5vh;
		height: 80vh;
		background: url('../img/BG_ECOT.png') no-repeat center center;
		background-size: contain;
		}
	
	.eco_graf1,.eco_graf2{
		display: none;
		}

	@media (max-width: 992px) {
			.txt_ecot{
				position: initial;
				width: 80vw;
				margin: 0 auto 5vh;
				font-size: 2.4vh;
				}	
			.ecotG{
				display: none;
				}
			
			.eco_graf1{
				display: block;
				width: 100%;
				height: auto;
				text-align: center;
				}
			.eco_graf1 img{
				width: 60vw;
				margin: 0 auto;
				}
			
			.eco_graf2{
				display: block;
				}
			.eco_grafis{
				margin: 8vh auto;
				padding: 0 4vw!important;
				height: auto;
				}
			.img_ecot_graf img{
				width: 70%;
				margin: 0 auto;
				}
			.txt_ecot_graf{
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				font-family: "KohinoorDevanagari_Regular";
				font-size: 2vh;
				}
			.ultimoGraf{
				width: 50%;
				margin: 0 auto;
			}
		}
	@media(max-width: 800px){
		.eco_graf1 img {
		    width: 35vw;
			}
		.img_ecot_graf img {
		    width: 45%;
		}
		.txt_ecot_graf {
		    font-size: 2vw;
		}
	}		

/*-------------------------------------------------PTOSVEN--------*/
	
	.ptsV{
		position: relative;
		}
	.txt_pts_venta{
		position: absolute;
		top: 10vh;
		left: -2vw;

		color: #fff;
	    font-family: "UniNeueBold";
	    font-size: 2.2vh;
	    padding: 1.5vh 2vw;
	    background: #ea0985;
	    width: 15vw;
	    text-align: center;

	    -webkit-box-shadow: 5px 5px 26px 0px rgba(34, 34, 34,1);
   		-moz-box-shadow: 5px 5px 26px 0px rgba(34, 34, 34,1);
   		box-shadow: 5px 5px 26px 0px rgb(34, 34, 34,1);
		}

	.imgPtsV{
		height: 65vh;
		width: 100%;
		background: url('../img/PtosVenta.png') no-repeat bottom center;
		background-size: cover; 
		}
	.imgLogoCarou{
		height: 30vh;
		}
		.ILC1,.ILC2{
			height: 20vh;
			margin: 5vh;
		}
		.ILC1{			
			background: url('../img/LOGO_BRISAS.png') no-repeat center center;
			background-size: contain; 
		}
		.ILC2{			
			background: url('../img/LOGO_PALMIRAS.png') no-repeat center center;
			background-size: contain; 
		}
	.textosUbica{
		margin: 1vh auto;
		}
	.ubi_title{
		font-family: "UniNeueHeavy";
		font-size: 1.7vh;
		color: #1a2a54;
		text-transform: uppercase;
		margin-bottom: 1vh;
		}
	.ubi_parr{
		font-family: "KohinoorDevanagari_Medium";
		font-size: 1.3vh;
		color: #545556;
		}
	@media (max-width: 992px) {
			.txt_pts_venta{
				top: 0vh;
				left: -2vw;
				font-size: 1.8vh;
			    padding: 1.5vh 2vw;
			    width: 40vw;
			}
			.imgPtsV{
				height: 25vh;
			}
			.imgLogoCarou{
				height: 15vh;
			}
			.ILC1, .ILC2 {
			    height: 12vh;
			    margin: 2vh 25vw;
			}
			.ubi_title{
				font-size: 2.3vh;
				}
			.ubi_parr{
				font-size: 2vh;
				}
		}

/*-------------------------------------------------CONTACTO-------*/
	.txt_escrib{
		margin-top: 4vh;
		font-size: 8vh;
		display: block;
		}
	.form_contacto{
		margin-top: 5vh;
		}
	.fr_txt{
		width: 100%;
		margin: 3vh auto;
		}
		.fr_txt input{
			width: inherit;
			padding: 15px;
			font-family: "KohinoorDevanagari_Regular";
			font-size:2vh;
			border-radius: 20px;
			border: none; 
			-webkit-box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.52);
			-moz-box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.52);
			box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.52);
		}
		.fr_txt textarea{
			padding: 15px;
			font-family: "KohinoorDevanagari_Regular";
			font-size:2vh;
			border-radius: 20px;
			border: none; 
			-webkit-box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.52);
			-moz-box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.52);
			box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.52);
			max-width:100%;
			min-width:100%;
			height:100%; 
			box-sizing: border-box;         /* For IE and modern versions of Chrome */
			-moz-box-sizing: border-box;    /* For Firefox                          */
			-webkit-box-sizing: border-box; /* For Safari   */
			}
		.fr_txt input:focus, .fr_txt textarea:focus {				
		  	outline: 0;
		  	-webkit-box-shadow: none;
		    box-shadow: none;
			}
	.cnt_btn{
		display: block;
		}
		.cnt_btn #btn_enviar{
			cursor: pointer;
			padding: 10px;
			font-family: "UniNeueBold";
			font-size: 2vh;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			background: #ea0985;
			border: none;
			border-radius: 30px;
			width: 200px;
			/*margin: 0 auto;*/
			}
		.cnt_btn #btn_enviar:hover{				
		  	background: #ff0099;
			}		
		.cnt_btn #btn_enviar:focus{				
		  	outline: 0;
		  	-webkit-box-shadow: none;
		    box-shadow: none;
			}		
	
	.cnt_txt_contacto{
		margin: 0 auto;
		width: fit-content;
		position: relative;
		}
	.cnt_txt_contacto h2{
		margin-top: 8vh;
		font-family: "UniNeueRegular";
		font-size: 3vh;
		}
	.cnt_txt_contacto ul{
		list-style:  url('../img/bullet.png');
		}
	.cnt_txt_contacto li{
		font-family: "KohinoorDevanagari_Light";
		color: #fff;
		font-size: 2vh;
		margin:2vh auto;
		}
	.cnt_txt_contacto h3{
		margin-top: 2vh;
		font-family: "UniNeueRegular";
		font-size: 2.5vh;
		}
	.cnt_txt_contacto p{
		font-family: "KohinoorDevanagari_Light";
		color: #fff;
		font-size: 2vh;
		margin:2vh auto;
		}
	.img_text_contacto{
		position: absolute;
		right: -2vw;
		bottom: -10vh;
		width: fit-content;
		}
	.img_text_contacto img{
		width: 75%;
		margin: 0 0 0 auto;
		}
	
	.carousel-control {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: auto;
	    font-size: 20px;
	    color: #fff;
	    text-align: center;
	    text-shadow: 0 1px 2px rgba(0,0,0,.6);
	    background-color: rgba(0,0,0,0);
	    filter: alpha(opacity=50);
	    opacity: .5;
	}
	.carousel-control.left {
	    background-image: none;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	    background-repeat: repeat-x;
	}
	.carousel-control.right {
	    right: 0;
	    left: auto;
	    background-image: none;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	    background-repeat: repeat-x;
	}
	.carousel-control span{ 
	    background: #ea0985;
    	height: 50px!important;
    	width: 50px!important;
    	text-align: center;
    	line-height: 50px;
    	border-radius: 30px;
    }


	@media (max-width: 992px) {
		.txt_escrib,.cnt_btn{
			text-align: center;
			}
		.img_text_contacto{
			position: inherit;
    		right: 0;
    		bottom: 0;
		}
		.img_text_contacto img{
			width: 100%;
			margin:5vh auto;
		}
		.carousel-control {
    		position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    width: 5%;
		    font-size: 20px;
		    color: #fff;
		    text-align: center;
		    text-shadow: 0 1px 2px rgba(0,0,0,.6);
		    background-color: rgba(0,0,0,0);
		    filter: alpha(opacity=50);
		    opacity: .5;
		}
		.carousel-control span {
		    background: #ea0985;
		    height: 40px!important;
		    width: 40px!important;
		    text-align: center;
		    line-height: 40px;
		    border-radius: 30px;
		}
	}

/*-------------------------------------------------PROMO----------*/
	.img-promo{
		margin-top: 10vh;
	}
	.img-promo img{
		padding-top:10vh ;
		margin: 0 auto 5vh;
	}
	.banners{
		margin-top: 5vh;
	}

/*-------------------------------------------------FOOTER---------*/
	.ft-cnt{
		height: 4vh;
		line-height: 4vh;
		}
	@media (max-width: 992px) {
		.ft-cnt{
			height:inherit;
			line-height:inherit;
			}
	}
	.ft-cnt-data-1{
		float: left;
		}
	.ft-cnt-data-2{
		float: left;
		margin-left: 9.5vw;
		}
	@media (min-width: 1920px) {
	  .ft-cnt-data-2{
		margin-left:15vw;
		}
	}
	.ft-cnt-data-3{
		float: right;
		}

	@media (max-width: 992px) {
		.ft-cnt-data-1{
			float: none;
		}
		.ft-cnt-data-2{
			float: none;
			margin-left: 0;
		}
		.ft-cnt-data-3{
			float: none;
		}
	}
	.txt-foot, .txt-foot a{
		font-family: "UniNeueLight";
		color: #fff;
		}
	.ft-redes{
		display: inline-block;
		}
	.ft-redes a{
		color: #fff;
		}


/*-------------------------------------------------LANDSCAPE------*/
	@media screen and (min-width: 320px) and 
	(max-width: 767px) and (orientation: landscape) {
	
		/*html {
			transform: rotate(-90deg);
			transform-origin: left top;
			width: 100vh;
			overflow-x: hidden;
			position: absolute;
			top: 100%;
			left: 0;
		}*/

		/*INICIO*/
		  	.img_slider#imgSlider1{
				background: url('../img/imgSlider1.png') no-repeat center center;
				background-size: cover;
				}
			.img_slider#imgSlider2{
				background: url('../img/imgSlider2_2.png') no-repeat center center;
				background-size: cover;			
				}
		/*SOMOS*/
			.bg_somos {
			    margin-top: 0vh;
			    height: 50vh;
				}
				.txt-somos,.logo-somos{
					display: inline-block;
					width: 45vw;
					}
				.txt-somos {
				    margin: 5vh auto 2vh;
				    padding: 0 4vw;
					}
					.txt-somos p {
					    margin:2vh auto;
					    font-size: 1.5vw;
					}
				.logo-somos {
				    margin: 3vh auto;
					}
					.logo-somos img{
						height: 25vh;
					}
		/*ADN*/
			.txt_adn {
			    margin: 5% auto;
			    font-size: 10vh;
				}
			.pnk_sq {
			    display: inline-block;
			    /*max-width: 30%;
			    width: 28%;
			    margin: 4% 0.5%;
			    height: inherit;*/

			    max-width: 30%;
				margin: 2vh 0.5% 5vh;
				width: 35vw;
				height: 35vh;
				line-height: 35vh;
				}
			.txt_info_adn:hover{
				margin: 2vh 2vw;
				}
		/*FRAC*/
			.bg_frac{
				height: 100vh;
				background: url('../img/BG_FRACC.png') no-repeat center center;
				background-size: cover;
				}
			.cua_fr {
			    width: 31vw;
			    max-width: 32%;
			    height: 30vh;
			    margin: 5vh auto;
			    display: inline-block;
			    border-radius: 30px;
				}

			.fr_title {
			    font-size: 3vw;
			    margin: 2vh auto;
				}	
			.fr_prr {
			    font-size: 2vw;
			    margin: 2vh auto;
				}
			.fr_data img {
			    margin: 0 auto;
			    width: 25vw;
				}	
			.fr_t {
			    font-size: 4vw;
				}
			.fr_p {
			    font-size: 2.5vw;
			    margin: 5vh auto;
				}
			.fr_pb_info {
			    height: auto;
				}
			.fr_mod_data {
			    height: 30vh;
				}
			.fr_logo_m{
				display: none;
				}	
			.fr_logo{
				display: block;
				}
			.fr_modelo {
			    width: 100%;
			    height: 55vh;
			    margin: 5vh auto;
				}
			.fr_modelo .img-responsive{
				max-width: 60%;
				width: 60%;
				margin: 0 auto;
				}
			.fr_modelo p {
			    text-align: center;
			    font-size: 2.5vw;
				}	

			#mp_1, #mp_2 {
			    width: 100%;
			    height: auto;
				}	
			.map_croquis img{
				margin: 0 auto;
			}
		/*PORQ*/
			.espacioPorQ {
			    height: auto;
				}
			.imgsConsul,.imgsParques {
			    margin-top: 0%;
			    text-align: center;
				}
			.cnt_consultorio h1, .cnt_parques h1, .EscTitulo h1 {
			    margin-top: 0;
			    font-size: 3vw;
			}
			.cnt_consultorio p, .cnt_parques p, .cnt_escuela p {
			    margin-top: 5%;
			    font-size: 1.8vw;
			}
			.cnt_consultorio img{
			    width: 26%;
			    margin: 4vh auto;
			}
			.imgsConsul img, .imgsParques img {
			    display: inline-block;
			    width: 40vw;
			    height: auto;
			}
			.imgEsc_1 {
			    height: 30vh;
			}
			.EscGraf {
			    margin-top: 5%;
			    height: 30vh;
			}
			#secEsc3{
				display: none;
			}
			.cnt_parques img{
			    width: 40%;
			    margin: 4vh auto;
			}
		/*ECOT*/
			.bg_ecot{
				padding-top: 10vh; 
				height: 100vh;
				background: url('../img/BG_AZUL.png') no-repeat center center;
				background-size: cover;
				position: relative;
				}
			.txt_ecot {
			    position: absolute;
			    left: 25vw;
			    right: 25vw;
			    font-size: 1.2vW;
			    width: 50vw;
			}	
			.ecotG{
				margin-top: 5vh;
				height: 80vh;
				background: url('../img/BG_ECOT.png') no-repeat center center;
				background-size: contain;
				}
			
			.eco_graf1,.eco_graf2{
				display: none;
			}
			.ecotG{
				display: block;
				}
		

		/*PTSV-CONT*/
			.bg_PtsV {
			    height: auto;
			}
			.imgPtsV {
			    height: 65vh;
				}
			.txt_pts_venta {
			    top: 0vh;
			    left: -2vw;
			    font-size: 1.8vw;
			    padding: 1.5vh 2vw;
			    width: 40vw;
				}
			.cnt_txt_contacto {
			    margin: 0 auto;
			    width: 45vw;
			    height: 45vh;
			    position: relative;
			    display: inline-block;
			}
			.img_text_contacto {
			    position: inherit;
			    right: 0;
			    bottom: 0;
			    display: inline-block;
			}
			.img_text_contacto img {
			    width: 35vw;
			    margin: 5vh auto;
			}

		.land_4,.land_5,.land_6,.land_7,.land_8{
			float: left;
			}	
		.land_4{
			width: 33.33333333%;
			}
		.land_5{
			width: 41.66666667%;
			}
		.land_6 {
		    width: 50%;
			}
		.land_7{
			width: 58.33333333%;
			}
		.land_8{
			width: 66.66666667%;
			}	
		
	}