
/* #region TIPOGRAFIA-----*/

	@font-face { font-family: "AvenirNext-Regular"; src: url("../fonts/AvenirNext/AvenirNext-Regular.ttf") }
  @font-face { font-family: "AvenirNext-Bold"; src: url("../fonts/AvenirNext/AvenirNext-Bold.ttf") }
  @font-face { font-family: "AvenirNext-DemiBold"; src: url("../fonts/AvenirNext/AvenirNext-DemiBold.ttf") }
  @font-face { font-family: "AvenirNext-Medium"; src: url("../fonts/AvenirNext/AvenirNext-Medium.ttf") }

	/*generales*/
		.typ-center	{text-align: center;}
		.typ-upper	{text-transform: uppercase;}

	/*#endregion*/

