<h2></h2>

<div class="draws">  
    
    <div class="fullpic elem_hide">
        <div class="spc ">
            <img src="" alt="">
        </div>
    </div>

    <div class="post">
        <div class="pict" onclick="PicClick($(this));">
            <img src="assets/img/hoshibb.jpg" alt="">
        </div>
        <div class="data">
            <h2>I'm a notched module.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minima neque sapiente itaque quos, mollitia facere
                earum laborum maxime vero voluptate repellendus quidem libero porro blanditiis obcaecati. Accusantium, sequi
                expedita.</p>
        </div>
    </div>

    <div class="post">
        <div class="pict"  onclick="PicClick($(this));">
            <img src="assets/img/hoshibb.jpg" alt="">
        </div>
        <div class="data">
            <h2>I'm a notched module.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minima neque sapiente itaque quos, mollitia
                facere
                earum laborum maxime vero voluptate repellendus quidem libero porro blanditiis obcaecati. Accusantium, sequi
                expedita.</p>
        </div>
    </div>

</div>