
<div id="mySidenav" class="sidenav">	
	<a href="javascript:void(0)" class="closebtn" onclick="minNav()"> 
		<div class="IcoArrow">
			<i class="mdi mdi-arrow-left-bold-hexagon-outline"></i> 
		</div>		
	</a>

	<ul>
		<li onclick="" class="opt">
			<i class="mdi mdi-human-greeting"></i>
			<span>About me</span>
		</li>
		<li onclick="" class="opt">
			<i class="mdi mdi-lead-pencil"></i>
			<span>Drawings</span>
		</li>
		<li onclick="" class="opt">
			<i class="mdi mdi-responsive"></i>
			<span>Web stuff</span>
		</li>
		<li onclick="" class="opt">
			<i class="mdi mdi-gmail"></i>
			<span>Contact</span>
			<div class="mini">Contact</div>
		</li>
	</ul>
</div>



